@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
  }

:root {
  --main-color: #242424;
  --main-bg-color: #f3f4f6;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
}